{
  "root": true,
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "react-app",
    "react-app/jest",
    "prettier"
  ],
  "globals": {
    "window": true,
    "document": false,
    "localStorage": true,
    "sessionStorage": true,
    "fetch": false
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "rules": {
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [0],
    "react/jsx-props-no-spreading": ["error", {
      "exceptions": ["TextField", "TextFieldUI", "RadioGroup", "Checkbox", "CheckboxUI", "DaysButton", "OutlinedInput", "Counter", "FormControlLabel", "Tabs", "Tab", "DirectionNew"]
    }],
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": true }],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-curly-spacing": ["error", "never", { "allowMultiline": true }],
    "react/jsx-max-props-per-line": ["error", { "maximum": 1, "when": "multiline" }],
    "react/jsx-first-prop-new-line": ["error", "multiline-multiprop"],
    "object-curly-spacing": ["error", "always"],
    "import/extensions": "off",
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0 }],
    "import/no-anonymous-default-export": "off",
    "react/prop-types": 0,
    "jsx-a11y/no-static-element-interactions": "off",
    "no-underscore-dangle": "off",
    "no-trailing-spaces": ["error", {
      "skipBlankLines": false,
      "ignoreComments": false
    }],
    "react/no-array-index-key": "off",
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state"] }]
  }
}
